*, html {
    margin: 0;
    padding: 0;
}

body {
    background: url('../images/ime.png') no-repeat center center fixed;
    background-size: cover;
    height: 100%;
    overflow: hidden;
}

main {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 100px;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    transition: 0.5s;
}

form {
    background-color: rgba(0, 0, 0, 0.9);
    width: 50%;
    max-width: 450px;
    height: 40%;
    min-height: 230px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
    font-size: 1rem;
    transition: 0.5s;
}

fieldset {
    border: none;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

}

fieldset legend {
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
}

input::placeholder{
    color: #636161;
}

.login-form-field {
    background-color: rgba(255, 255, 255, 1);
    border: none;
    border-radius: 5px;
    height: 15%;
    text-align: center;
}

label {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: fit-content;
}

label legend {
    font-size: 0.9rem;
    font-weight: bold;
    padding-bottom: 5%;
}

select {
    background-color: rgba(255, 255, 255, 1);
    border: none;
    border-radius: 5px;
    height: 60%;
    width: 50%;
    text-align: center;
} 

#login-form-submit {
    background-color: rgba(255, 255, 255, 1);
    border: none;
    border-radius: 5px;
    height: 15%;
    width: 50%;
}

@media screen and (max-width: 500px) {
    main {
        top: 150px;
        transition: 0.5s;
    }

    form {
        width: 100%;
        transition: 0.5s;
    }
}